<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">web builder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% var pages=['Home','Pricing','Contact','My Projects','Sign In','Sign Up'] %>
      <% pages.forEach(function(item){ %>
      <li class="nav-item <% if(page==item){ %> active <% } %>">
        <a class="nav-link" href="/<%= item %>"><%= item %> </a>
      </li>
      <% }) %>
    </ul>
  </div>
</nav>