<%- include('partials/header') %>

<form action='newproject' method='POST'>
    <input type='text' name='name' placeholder='project name'>
    <textarea name='description' placeholder='description'></textarea>
    <input type='submit'>
</form>

<%- include('partials/footer') %>