<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class='container col-lg-4 col-md-6 col-sm-9' style='margin:30px auto;'>
    <div  class='jumbotron'>
        <div class='container' style='margin:0 auto;'>
            <p>Fill out the form to sign up</p>
        </div>
        <form action='/sign_in' method='POST' id='form' novalidate>
            <div class='form-group'>
                <input type='text' name='username' placeholder='username' class='form-control input' required>
            </div>
            <div class='form-group input-group mb-3'>
                <input type='password' name='password' placeholder='password' class='form-control input' id='p1' required>
                <div class="input-group-append">
                    <button rel='i1' class="btn btn-light" type="button" id="tp1"><i rel='p1' id='i1' class='eye icon slash'></i></button>
                </div>
            </div>
            <div class='form-group'>
                <input type='submit' value='sign up' class='form-control btn btn-outline-light'>
            </div>
        </form>
    </div>
</div>
<script src='signin.js'></script>
<%- include('partials/footer') %>